<h3>Brands</h3>	    
<div class="row">
	<div class="col-md-6">
	    <div class="table-responsive">
	        <table class="table table-bordered table-hover">
	            <thead>
	                <tr>
	                    <th class="col-md-1">S.No</th>
	                    <th>Name</th>	                    
	                    <th class="col-md-2">Actions</th>	                    
	                </tr>
	            </thead>
	            <tbody>
	            	<tr>
	            		<td>1</td>
	            		<td>Denim</td>
	            		<td>
    						<a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)"><span class="fa fa-edit"></span></a>
	            			<a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-minus"></span></a>
    					</td>			
	            	</tr>
	            	<tr>
	            		<td>1</td>
	            		<td>Denim</td>
	            		<td>
    						<a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)"><span class="fa fa-edit"></span></a>
	            			<a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-minus"></span></a>
    					</td>			
	            	</tr>
	            	<tr>
	            		<td>1</td>
	            		<td>Denim</td>
	            		<td>
    						<a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)"><span class="fa fa-edit"></span></a>
	            			<a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-minus"></span></a>
    					</td>			
	            	</tr>
	            	<tr>
	            		<td>1</td>
	            		<td>Denim</td>
	            		<td>
    						<a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)"><span class="fa fa-edit"></span></a>
	            			<a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-minus"></span></a>
    					</td>			
	            	</tr>
	            	<tr>
	            		<td>1</td>
	            		<td>Denim</td>
	            		<td>
    						<a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)"><span class="fa fa-edit"></span></a>
	            			<a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-minus"></span></a>
    					</td>			
	            	</tr>
	            </tbody>
	        </table>
	    </div>
	</div>

	<div class="col-md-6">
		<form role="form">
	        <h4> Add a brand</h4>
	        <div class="form-group">
	            <label>Name</label>
	            <input class="form-control">
	            <!-- <p class="help-block">Example block-level help text here.</p> -->
	        </div>
	        <button type="submit" class="btn btn-primary">Submit</button>
        	<button type="reset" class="btn btn-default">Reset</button>
	    </form>
	</div>
</div>