<!DOCTYPE html>
<html ng-app="shopApp">
	<head>
		<title>Shop</title>	
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../../assets/public/css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="../../../assets/public/css/font-awesome.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../../assets/public/css/ng-tags-input.css">
		<link rel="stylesheet" type="text/css" href="../../../assets/public/css/angular-ui-tree.min.css">
		
		<link rel="stylesheet" type="text/css" href="app.css">
	</head>
	<body ng-controller="appController">
		<div class="container-fluid spinner_block" ng-class="{true: 'spinerActive', false: 'spinerInactive'}[spinerisActive]">
			<div class="spinner">
				<div class="spinner-container container1">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container2">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container3">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
			</div>
		</div>

		<div id="wrapper">
			<div>
				<nav class="navbar navbar-default" role="navigation">
				  	<div class="container-fluid">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
					      	</button>
					      	<a class="navbar-brand" href="#">Brand</a>
					    </div>
					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse navbarSearchDiv">				    	
					      	<form class="navbar-left topBarSearchDiv" role="search">
					      		<div class="form-group input-group searchBarFormDiv">
	                                <input type="text" class="form-control">
	                                <span class="input-group-btn">
	                                	<button class="btn btn-info" type="button">
	                                		<i class="fa fa-search"></i>
	                                	</button>
	                                </span>
                            	</div>
				      		</form>
				      		<ul class="nav navbar-nav navbar-right">
					        	<li>
					        		<a href="javascript:void(0)">
					        			<i class="fa fa-phone"></i>9999999999
					        		</a>
					        	</li>				        
				        		<li>
				        			<a href="javascript:void(0)">Login</a>
				        		</li>
				        		<li class="signInLink">
			        		    	<span class="dropdown" >
							      		<a href="javascript:void(0);" class="dropdown-toggle">
							        		Guest
							      		</a>
							      		<ul class="dropdown-menu">
							        		<li>
							          			<a href>Abc</a>
							        		</li><li>
							          			<a href>Abc</a>
							        		</li><li>
							          			<a href>Abc</a>
							        		</li><li>
							          			<a href>Abc</a>
							        		</li>
							      		</ul>
							    	</span>

							    </li>
				      		</ul>
				    	</div><!-- /.navbar-collapse -->
				  	</div><!-- /.container-fluid -->
				</nav>
			</div>
			<div>
				<div class="leftBar">
					<script type="text/ng-template" id="nodes_renderer.html">
					  <div ui-tree-handle class="tree-node tree-node-content">
					    <a data-nodrag ng-click="toggle(this)">
					    	<span class="fa" ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed}"></span>
					    </a>
					    {{node.name}}{{node.id}}
					  </div>
					  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
					    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
					    </li>
					  </ol>
					</script>
					<div ui-tree data-drag-enabled=false>
				      <ol ui-tree-nodes="" ng-model="categoriesList" id="tree-root">
				        <li ng-repeat="node in categoriesList" ui-tree-node ng-include="'nodes_renderer.html'"></li>       
				      </ol>
				    </div>
					<!-- <ul class="nav navbar-nav side-nav leftBarMenu">
						<li>							
							<i class="fa fa-sort-down"></i>
							<a href="javascript:void(0);">
								Oneone
							</a>
						</li>
						<li><a href="javascript:void(0);">Oneoneone</a></li>
						<li><a href="javascript:void(0);">Oneoneone</a></li>
						<li><a href="javascript:void(0);">Oneoneone</a></li>						
					</ul> -->
				</div>			
			</div>			
			<div>
				<div class="workspace">
					<div class="row">
						<div class="productDisplayDiv">
							<img src="lemon.jpg">
							<div class="productTitleDisplay">
								Product1
							</div>
							<div class="productWeightSelect">
								<select>
									<option>One</option>
									<option>Two</option>
									<option>Three</option>
									<option>Four</option>
								</select>
							</div>
							<div class="productPriceDiv">
								<table>
									<tr>
										<td>Rs 330</td>
										<td><input type="number" class="productPriceTextBox"></td>
										<td><button><i class="fa fa-plus"></i></button></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="productDisplayDiv">
							<img src="tomato.jpg">
							<div class="productTitleDisplay">
								Product1
							</div>
							<div class="productWeightSelect">
								<select>
									<option>One</option>
									<option>Two</option>
									<option>Three</option>
									<option>Four</option>
								</select>
							</div>
							<div class="productPriceDiv">
								<table>
									<tr>
										<td>Rs 330</td>
										<td><input type="number" class="productPriceTextBox"></td>
										<td><button><i class="fa fa-plus"></i></button></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="productDisplayDiv">
							<img src="lemon.jpg">
							<div class="productTitleDisplay">
								Product1
							</div>
							<div class="productWeightSelect">
								<select>
									<option>One</option>
									<option>Two</option>
									<option>Three</option>
									<option>Four</option>
								</select>
							</div>
							<div class="productPriceDiv">
								<table>
									<tr>
										<td>Rs 330</td>
										<td><input type="number" class="productPriceTextBox"></td>
										<td><button><i class="fa fa-plus"></i></button></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="productDisplayDiv">
							<img src="tomato.jpg">
							<div class="productTitleDisplay">
								Product1
							</div>
							<div class="productWeightSelect">
								<select>
									<option>One</option>
									<option>Two</option>
									<option>Three</option>
									<option>Four</option>
								</select>
							</div>
							<div class="productPriceDiv">
								<table>
									<tr>
										<td>Rs 330</td>
										<td><input type="number" class="productPriceTextBox"></td>
										<td><button><i class="fa fa-plus"></i></button></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="productsdivider">
						</div>
						<div class="productDisplayDiv">
						<img src="lemon.jpg">
						<div class="productTitleDisplay">
							Product1
						</div>
						<div class="productWeightSelect">
							<select>
								<option>One</option>
								<option>Two</option>
								<option>Three</option>
								<option>Four</option>
							</select>
						</div>
						<div class="productPriceDiv">
							<table>
								<tr>
									<td>Rs 330</td>
									<td><input type="number" class="productPriceTextBox"></td>
									<td><button><i class="fa fa-plus"></i></button></td>
								</tr>
							</table>
						</div>
						</div>
						<div class="productDisplayDiv">
							<img src="tomato.jpg">
							<div class="productTitleDisplay">
								Product1
							</div>
							<div class="productWeightSelect">
								<select>
									<option>One</option>
									<option>Two</option>
									<option>Three</option>
									<option>Four</option>
								</select>
							</div>
							<div class="productPriceDiv">
								<table>
									<tr>
										<td>Rs 330</td>
										<td><input type="number" class="productPriceTextBox"></td>
										<td><button><i class="fa fa-plus"></i></button></td>
									</tr>
								</table>
							</div>
						</div>
					</div>						
				</div>
			</div>
		</div>

		<!--vendor files -->
		<script type="text/javascript" src="../../../assets/public/js/angular.js"></script>
		<script type="text/javascript" src="../../../assets/public/js/angular-ui-router.js"></script>
		<script type="text/javascript" src="../../../assets/public/js/restangular.js"></script>
		<script type="text/javascript" src="../../../assets/public/js/lodash.compat.js"></script>
		<script type="text/javascript" src="../../../assets/public/js/angular-sanitize.js"></script>
		<script type="text/javascript" src="../../../assets/public/js/angular-animate.js"></script>
		<script type="text/javascript" src="../../../assets/public/js/angular-ui-tree.js"></script>
		<script type="text/javascript" src="../../../assets/public/js/ui-bootstrap-tpls-0.11.1.js"></script>
		<script type="text/javascript" src="../../../assets/public/js/ng-tags-input.js"></script>

		<!--vendor files end -->

		<!-- controllers -->
		<script type="text/javascript" src="app.js"></script>
		
		<!-- directives -->
			

	</body>
</html>
